table,
th,
tr,
td {
  border: 1px solid black;
  text-align: center;
  
}

table {
    width: 100%;
    table-layout: fixed;
}

#extra-margin {
    margin: 50px 0px;
}

#background-black {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
}
