table,
tr,
th,
td {
    border: 1px solid;
    width: 100%;
	table-layout: fixed;
	text-align: center;
}

#main-table {
    height: 100%;
}

.bg-black {
    background-color: black;
    color: white;
}